<div id="wcig-app">
    <div id="wcig-template">
        <div class="growl">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}"
                   close="closeAlert($index)">{{alert.msg}}
            </alert>
        </div>

        <div class="container">
            <alert type="danger" close="showBrowserWarning = false" ng-show="showBrowserWarning">
                This site has only been tested with Chrome, Safari & Firefox. Your browser may not be
                supported.
            </alert>

            <div id="page-content">
                <div class="row">
                    <div class="col-xs-3">
                        <uib-tabset type="pills">
                            <uib-tab heading="Transavia" select="transaviaScopeSelected()">
                            </uib-tab>
                            <uib-tab heading="World" select="worldScopeSelected()">
                            </uib-tab>
                        </uib-tabset>
                        <div class="row">
                            Origin:
                        </div>

                        <div ng-repeat="a in configuration.origins" class="row">

                            <div class="col-xs-2">
                                <input type="checkbox" ng-model="a.active" ng-change="originSelectionChanged($index)"/>
                            </div>

                            <div class="col-xs-10">
                                {{knownAirports[a.code].long_name}}
                            </div>
                        </div>


                        <div class="row">
                            <uib-tabset active="period">
                                <uib-tab heading="Weekends" select="weekendsTabSelected()" index="'weekend'">
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                Flight dates (Fri - Sun)
                                            </div>
                                        </div>
                                        <div ng-repeat="dc in availableWeekends">
                                            <div class="row">
                                                <div class="col-xs-1">
                                                    <input type="checkbox"
                                                           ng-model="availableWeekends[$index].selected"
                                                           ng-change="weekendSelectionChanged($index)">
                                                </div>
                                                <div class="col-xs-9">{{dc.out.format('DD-MMM')}} -
                                                    {{dc.in.format('DD-MMM')}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="School Holidays" select="holidaysTabSelected()" index="'holiday'">
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                Flight dates
                                            </div>
                                        </div>
                                        <div ng-repeat="dc in holidays">
                                            <div class="row">
                                                <div class="col-xs-1">
                                                    <input type="radio" name="holiday"
                                                           ng-model="selectedHoliday"
                                                           ng-value="dc"
                                                           ng-click="holidaySelectionChanged($index)">
                                                </div>
                                                <div class="col-xs-9">
                                                    {{dc.name}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">{{dc.out.format('DD-MMM-YYYY')}} -
                                                    {{dc.in.format('DD-MMM-YYYY')}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <b>Leave</b> {{outboundStartTime()}} - {{outboundEndTime()}}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-10">
                                <div ui-slider="outDepartureTimeSlider.options" ng-model="outboundRange"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <b>Return</b> {{inboundStartTime()}} - {{inboundEndTime()}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10">
                                <div ui-slider="inDepartureTimeSlider.options" ng-model="inboundRange"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-9">
                                Max. Duration {{maxFlightDuration}}h
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10">
                                <div ui-slider="flightDurationSlider.options" ng-model="maxFlightDuration"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10">
                                Max. Price {{maxFlightPrice}}&euro;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10">
                                <div ui-slider="flightPriceSlider.options" ng-model="maxFlightPrice"></div>
                            </div>
                        </div>
                        <div class="row">
                            <span style="height:20px;">&nbsp;</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- where2fly2-1 -->
                                <ins class="adsbygoogle"
                                     style="display:inline-block;width:200px;height:200px"
                                     data-ad-client="ca-pub-1847267811722440"
                                     data-ad-slot="5090796436"></ins>
                                <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-9">
                        <div class="row map-container">
                            <div style="position:relative;">
                                <map zoom="{{mapZoom}}"
                                     class="googlemap"
                                     center="{{mapCenter}}"
                                     max-zoom="17"
                                     tilt="45"

                                     styles="[
                                 {stylers:[
                                   {hue:'#ccbb60'}
                                   ]} ,
                                   {featureType:'water',stylers:[{color:'#96c7cd'}]}

                                   ]"
                                >
                                </map>
                                <div id="mapInfo">
                                    <div style="text-align: right;">Ticket price: <span
                                            ng-repeat="c in colorScaleReverse"
                                            style="background-color: {{c}};"> &nbsp</span>
                                    </div>

                                </div>
                                <div id="itinerariesInfo" click-outside="closeItinerariesInfo">
                                    <div>
                                        <div>
                                            Flights
                                            To <b>{{airportName(currentItineraries.destination) }}</b>

                                            <div style="float:right; font-size: large; cursor: pointer;"
                                                 ng-click="closeItinerariesInfo()">&times;</div>
                                        </div>
                                        <div id="itinerariesTableHolder">
                                            <table class="itinerariesTable" class="table table-striped">
                                                <thead style="cursor: pointer;">
                                                <tr>
                                                    <th class="infoColumn"></th>

                                                    <th ng-click="sortFlightsBy('price')">

                                                        &euro;
                                                        <span ng-if="flightsSortedBy == 'price' && sortingOrder=='up'"
                                                              class="glyphicon glyphicon-sort-by-attributes"></span>
                                                        <span ng-if="flightsSortedBy == 'price' && sortingOrder=='down'"
                                                              class="glyphicon glyphicon-sort-by-attributes-alt"> </span>


                                                    </th>
                                                    <th class="directColumn"></th>
                                                    <th class="carrierColumn"></th>
                                                    <th ng-click="sortFlightsBy('outDeparture')" colspan="3">
                                                        <img src="/app/img/flight-depart-out.svg" width="30px"/>
                                                        <span ng-if="flightsSortedBy == 'outDeparture' && sortingOrder=='up'"
                                                              class="glyphicon glyphicon-sort-by-attributes"></span>
                                                        <span ng-if="flightsSortedBy == 'outDeparture' && sortingOrder=='down'"
                                                              class="glyphicon glyphicon-sort-by-attributes-alt"></span>

                                                    </th>
                                                    <th ng-click="sortFlightsBy('outDuration')">
                                                        <img src="/app/img/flight-time-out.svg" width="30px"/>
                                                        <span ng-if="flightsSortedBy == 'outDuration' && sortingOrder=='up'"
                                                              class="glyphicon glyphicon-sort-by-attributes"></span>
                                                        <span ng-if="flightsSortedBy == 'outDuration' && sortingOrder=='down'"
                                                              class="glyphicon glyphicon-sort-by-attributes-alt"></span>

                                                    </th>
                                                    <th ng-click="sortFlightsBy('inDeparture')" colspan="3">
                                                        <img src="/app/img/flight-depart-in.svg" width="30px"/>
                                                        <span ng-if="flightsSortedBy == 'inDeparture' && sortingOrder=='up'"
                                                              class="glyphicon glyphicon-sort-by-attributes"></span>
                                                        <span ng-if="flightsSortedBy == 'inDeparture' && sortingOrder=='down'"
                                                              class="glyphicon glyphicon-sort-by-attributes-alt"></span>

                                                    </th>
                                                    <th ng-click="sortFlightsBy('inDuration')">
                                                        <img src="/app/img/flight-time-in.svg" width="30px"/>
                                                        <span ng-if="flightsSortedBy == 'inDuration' && sortingOrder=='up'"
                                                              class="glyphicon glyphicon-sort-by-attributes"></span>
                                                        <span ng-if="flightsSortedBy == 'inDuration' && sortingOrder=='down'"
                                                              class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </th>
                                                    <th></th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="it in currentItineraries.rows">

                                                    <td ng-if="it.isSummary" class="infoColumn">
                                                    <span ng-show="!it.opened" class="glyphicon  glyphicon-plus-sign"
                                                          aria-hidden="true"
                                                          ng-click="expand($index, currentItineraries.destination, it)"
                                                          style=" cursor: pointer;">
                                                        </span>
                                                        <span ng-show="it.opened"
                                                              class="glyphicon  glyphicon-minus-sign"
                                                              aria-hidden="true"
                                                              ng-click="expand($index, currentItineraries.destination, it)"
                                                              style=" cursor: pointer;">
                                                    </span>
                                                    </td>
                                                    <td ng-if="it.isSummary" class="priceColumn">

                                                        <span>&euro;{{it.price}}</span>
                                                    </td>

                                                    <td ng-if="it.isSummary" class="directColumn">
                                                        <div class="glyphicon glyphicon-asterisk" ng-if="isDirect(it)"
                                                             tooltip="direct"></div>
                                                    </td>
                                                    <td ng-if="it.isSummary" class="carrierColumn">
                                                        <span>{{carrier(it.slice)}}</span>
                                                    </td>

                                                    <td ng-if="it.isSummary" class="dateColumn">
                                                        {{ it.outDepartureDateTime.format("DD-MMM") }}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="timeColumn">
                                                        {{ it.outDepartureDateTime.format("HH:mm") }}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="timeColumn">
                                                        {{ it.outArrivalDateTime.format("HH:mm") }}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="durationColumn">
                                                        {{ flightDurationStr(it.outDuration) }}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="dateColumn">
                                                        {{ it.inDepartureDateTime.format("DD-MMM")}}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="timeColumn">
                                                        {{ it.inDepartureDateTime.format("HH:mm")}}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="timeColumn">
                                                        {{ it.inArrivalDateTime.format("HH:mm")}}
                                                    </td>
                                                    <td ng-if="it.isSummary" class="durationColumn">
                                                        {{ flightDurationStr(it.inDuration) }}
                                                    </td>
                                                    <td ng-if="it.isSummary">
                                                        <button ng-click="buy(currentItineraries.destination, it)">
                                                            Buy
                                                        </button>
                                                    </td>


                                                    <td ng-if="!it.isSummary && it.opened" colspan="13">

                                                        <div ng-repeat="sl in it.slice" class="slice">

                                                            <div ng-repeat="seg in sl" class="segment">

                                                                <div ng-if="!it.isSummary && it.opened"
                                                                     class="flightIcon">

                                                                    <img ng-if="$parent.$parent.$index==0 && $index == 0"
                                                                         src="/app/img/flight-out.svg"
                                                                         width="20px"/>
                                                                    <img ng-if="$parent.$parent.$index==1 && $index == 0"
                                                                         src="/app/img/flight-in.svg"
                                                                         width="20px"/>
                                                                    &nbsp;

                                                                </div>

                                                                <div class="flightDate">
                                                                    {{ flightDateStr(seg.departureTime) }}
                                                                </div>
                                                                <div class="flightNo">{{seg.carrier}}{{seg.number}}
                                                                </div>
                                                                <div class="flightOrigin">
                                                                    {{airportName(seg.origin)}}
                                                                    ({{seg.origin}})
                                                                </div>
                                                                <div class="flightDepTime">
                                                                    {{ flightTimeStr(seg.departureTime) }}
                                                                </div>
                                                                <div class="flightDest">

                                                                    {{airportName(seg.destination)}}
                                                                    ({{seg.destination}})
                                                                </div>
                                                                <div class="flightArrTime">
                                                                    {{flightTimeStr(seg.arrivalTime) }}
                                                                </div>
                                                                <div class="flightDiration">
                                                                    {{flightDurationStr(seg.duration)
                                                                    }}
                                                                </div>
                                                                <div style="width:1px;">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="spinner"></div>
                            </div>
                        </div>
                        <div class="row" ng-show="configuration.showZoomButtons">
                            <div>
                                Zoom in to:
                                <button type="button" class="btn" ng-click="zoomTo('caribbean')">Caribbean
                                </button>
                                <button type="button" class="btn" ng-click="zoomTo('se-asia')">SE Asia</button>
                                &nbsp;
                                <button type="button" class="btn btn-info" ng-click="zoomTo('world')">Zoom out
                                </button>

                            </div>
                        </div>
                        <div class="row carousel">

                            <div ng-repeat="i in inspirations" class="inspiration">
                                {{i.place}}
                                <a href="{{i.photo_page}}">
                                    <img ng-src="{{i.photo_thumb}}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3" ng-show="openItineraryRequests != 0">
                    Getting flight data.. {{countOpenRequests}}
                </div>


            </div>


        </div>
    </div>


</div>
